.background-login{
    background-image: url("../assets/imgs/fundo-carro.jpg");
    background-size: cover;
    background-position: center;
}

.img-home{
    z-index: -2;
    position: absolute;
    margin-right: auto;
    margin-left: 10%;
    margin-top:60%;
    opacity: 0.5;
}

.input{
    z-index: 1;
    display: inline;
    
}

.back-transp{
    background: transparent;
    width: 68%;
}

.ion-item{
    position: absolute;
    margin-top:80%;
    margin-left:15%;
}
.ion-item2{
    margin-left:15%; 
    margin-top:100%;
    position: absolute;
}

.input input{
    color:white;
}
.button-login{
    position: absolute;
    margin-top:125%;
    margin-left: 30%;
    width: 50%;
}

.button-login ion-label{
    color:white;
    text-decoration: underline;
    margin-left: 10px;
}