page-home {
    .scroll {
        height: 100%
      }
 
      #mapcanvas {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
      }

      #top_menu {
          position: fixed;
          width: 100%;
          top: 0px;
          left: 0px;
          right: 0px;
          background-color: RGBA(255,255,255,0.8);
      }
}
